# CONFIG REFERENCE
#
# {{ sources_config_key }}:
#   {{ gitlab_config_key }}:
#    - {{ gitlab_url_key }}: https://my.gitlab.server.net/
#      {{ gitlab_token_key}}: <YourGitLabToken>

{{ sources_config_key }}:
  {{ gitlab_config_key }}: []
